In [5]:
import pandas as pd
df = pd.read_csv("data/Social_Science.csv")

df.shape
print(df.head())
print(df.info())        
print(df.describe())

   Profile.Astronaut Numbers.Overall  Profile.Astronaut Numbers.Nationwide  \
0                                  1                                     1
1                                  2                                     2
2                                  3                                     1
3                                  3                                     1
4                                  4                                     2

          Profile.Name Profile.Gender  Profile.Birth Year Profile.Nationality  \
0        Gagarin, Yuri           male                1934      U.S.S.R/Russia
1       Titov, Gherman           male                1935      U.S.S.R/Russia
2  Glenn, John H., Jr.           male                1921                U.S.
3  Glenn, John H., Jr.           male                1921                U.S.
4  Carpenter, M. Scott           male                1925                U.S.

   Profile.Military Profile.Selection.Group  Profile.Selection.Year  \
0              True                  TsPK-1                    1960
1              True                  TsPK-1                    1960
2              True  NASA Astronaut Group 1                    1959
3              True  NASA Astronaut Group 2                    1959
4              True                 NASA- 1                    1959

   Profile.Lifetime Statistics.Mission count Mission.Role  Mission.Year  \
0                                          1        pilot          1961
1                                          1        pilot          1961
2                                          2        pilot          1962
3                                          2          PSP          1998
4                                          1        Pilot          1962

      Mission.Name Mission.Vechicles.Ascent Mission.Vechicles.Orbit  \
0         Vostok 1                 Vostok 1                Vostok 2
1         Vostok 2                 Vostok 2                Vostok 2
2             MA-6                     MA-6                    MA-6
3           STS-95                   STS-95                  STS-95
4  Mercury-Atlas 7          Mercury-Atlas 7         Mercury-Atlas 7

  Mission.Vechicles.Decent  Mission.Durations.Mission duration  \
0                 Vostok 3                                1.77
1                 Vostok 2                               25.00
2                     MA-6                                5.00
3                   STS-95                              213.00
4          Mercury-Atlas 7                                5.00

   Profile.Lifetime Statistics.Mission duration  \
0                                          1.77
1                                         25.30
2                                        218.00
3                                        218.00
4                                          5.00

   Mission.Durations.EVA duration  Profile.Lifetime Statistics.EVA duration
0                             0.0                                       0.0
1                             0.0                                       0.0
2                             0.0                                       0.0
3                             0.0                                       0.0
4                             0.0                                       0.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1270 entries, 0 to 1269
Data columns (total 20 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Profile.Astronaut Numbers.Overall             1270 non-null   int64
 1   Profile.Astronaut Numbers.Nationwide          1270 non-null   int64
 2   Profile.Name                                  1270 non-null   object
 3   Profile.Gender                                1270 non-null   object
 4   Profile.Birth Year                            1270 non-null   int64
 5   Profile.Nationality                           1270 non-null   object
 6   Profile.Military                              1270 non-null   bool
 7   Profile.Selection.Group                       1270 non-null   object
 8   Profile.Selection.Year                        1270 non-null   int64
 9   Profile.Lifetime Statistics.Mission count     1270 non-null   int64
 10  Mission.Role                                  1270 non-null   object
 11  Mission.Year                                  1270 non-null   int64
 12  Mission.Name                                  1270 non-null   object
 13  Mission.Vechicles.Ascent                      1270 non-null   object
 14  Mission.Vechicles.Orbit                       1270 non-null   object
 15  Mission.Vechicles.Decent                      1270 non-null   object
 16  Mission.Durations.Mission duration            1270 non-null   float64
 17  Profile.Lifetime Statistics.Mission duration  1270 non-null   float64
 18  Mission.Durations.EVA duration                1270 non-null   float64
 19  Profile.Lifetime Statistics.EVA duration      1270 non-null   float64
dtypes: bool(1), float64(4), int64(6), object(9)
memory usage: 189.9+ KB
None
       Profile.Astronaut Numbers.Overall  \
count                        1270.000000
mean                          273.451181
std                           147.879465
min                             1.000000
25%                           152.250000
50%                           277.000000
75%                           387.000000
max                           565.000000

       Profile.Astronaut Numbers.Nationwide  Profile.Birth Year  \
count                           1270.000000         1270.000000
mean                             128.320472         1951.659055
std                               96.880495           11.433481
min                                1.000000         1921.000000
25%                               47.250000         1944.000000
50%                              110.000000         1952.000000
75%                              203.750000         1959.000000
max                              433.000000         1983.000000

       Profile.Selection.Year  Profile.Lifetime Statistics.Mission count  \
count             1270.000000                                1270.000000
mean              1985.496850                                   2.991339
std                 12.166869                                   1.399343
min               1959.000000                                   1.000000
25%               1978.000000                                   2.000000
50%               1987.000000                                   3.000000
75%               1995.000000                                   4.000000
max               2018.000000                                   7.000000

       Mission.Year  Mission.Durations.Mission duration  \
count   1270.000000                         1270.000000
mean    1994.540945                         1052.018987
std       12.568093                         1716.243661
min     1961.000000                            0.000000
25%     1986.000000                          190.007500
50%     1995.000000                          261.000000
75%     2003.000000                          382.000000
max     2019.000000                        10505.000000

       Profile.Lifetime Statistics.Mission duration  \
count                                   1270.000000
mean                                    2976.400531
std                                     4219.885619
min                                        0.610000
25%                                      487.750000
50%                                      938.000000
75%                                     4270.000000
max                                    21083.520000

       Mission.Durations.EVA duration  \
count                     1270.000000
mean                         3.666326
std                          7.289887
min                          0.000000
25%                          0.000000
50%                          0.000000
75%                          4.765000
max                         89.130000

       Profile.Lifetime Statistics.EVA duration
count                               1270.000000
mean                                  10.799559
std                                   16.066000
min                                    0.000000
25%                                    0.000000
50%                                    0.000000
75%                                   19.520000
max                                   78.800000

In [6]:
df["Profile.Nationality"].unique()

array(['U.S.S.R/Russia', 'U.S.', 'Mongolia', 'Romania', 'France',
       'Czechoslovakia', 'Poland', 'Germany', 'Bulgaria', 'Vietnam',
       'Cuba', 'India', 'Canada', 'Saudi Arabia', 'Netherland', 'Mexico',
       'Syria', 'Afghanistan', 'Japan', 'U.K.', 'Austria', 'Belgium',
       'Switzerland', 'Italy', 'Australia', 'U.S.S.R/Ukraine', 'Spain',
       'Slovakia', 'Republic of South Africa', 'U.K./U.S.', 'Israel',
       'China', 'Brazil', 'Sweden', 'Malysia', 'Korea', 'Denmark',
       'Kazakhstan', 'UAE'], dtype=object)